<div class=" row">
    <div class="row col-12 headermenu">
        <div class="col-12 row">
            <div class="col-5">
                <a class="top-menu" href="https://pawfriends.qodeinteractive.com/faq-page/">
                    <span class="fas fa-comments icon-style"> </span>
                    <span class="icon-text">FAQ</span>
                </a>
                <a class="top-menu" href="https://www.google.rs/maps/place/838-898+60th+St,+Brooklyn,+NY+11220,+USA/@40.6345833,-74.0098797,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!2sNew+York,+NY,+USA!3b1!8m2!3d40.7127753!4d-74.0059728!3m4!1s0x89c24549893ee833:0xb07c7685d7cd6eba!8m2!3d40.6345799!4d-74.0080392?hl=en&amp;authuser=0"
                    target="_blank">
                    <span class="icon-style fas fa-map-pin"></span>
                    <span class="icon-text">Location</span>
                </a>
                <a class="top-menu" href="tel:123456" target="_blank">
                    <span class="icon-style fas fa-phone"></span>
                    <span class="icon-text">Health Tips</span>
                </a>
                <a class="top-menu" href="https://pawfriends.qodeinteractive.com/portfolio-item/big-slider/" target="_blank">
                    <span class="icon-style fas fa-camera"></span>
                    <span class="icon-text">Picture Of The Day</span>
                </a>
            </div>
            <div class="col-3"></div>
            <div class="col-4">
                <a class="top-menu" href="tel:123456">Call center (800) 123-456</a>
                <a class="top-menu" href="tel:123456">
                    <span class="fas fa-angle-down icon-style ">

                    </span>
                    <span class="icon-text">English</span> </a>
                <a class="top-menu" href="https://pawfriends.qodeinteractive.com/my-account/">My Account</a>

            </div>
        </div>
    </div>
</div>