.icon-style {
    font-size: 14px;
    margin-inline-end: 10px;
    color: white;
}

.top-menu {
    margin-inline-end: 30px;
    color: white;
    font-size: 15px;
}

.headermenu {
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.2);
    height: 30px;
    margin-inline-start: 20px;
}