.textslider {
    position: absolute;
    z-index: 1;
    top: 280px;
    width: 312px;
    left: 265px;
}

.topic {
    background-color: palevioletred;
    height: 200px;
}

.topic-icon {
    margin-top: 50px;
}