<div class="row">
    <div class="slider col-12">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item *ngFor="let carousel of items">
                <img class="d-block w-100" [src]="carousel.src" alt="First slide" />
            </mdb-carousel-item>
            <!-- <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).webp" alt="Second slide" />
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).webp" alt="Third slide" />
            </mdb-carousel-item> -->
        </mdb-carousel>
    </div>

    <div class=" textslider">
        <h4>
            <rs-layer id="slider-11-slide-9-layer-9" class="rs-layer-static rs-layer" data-type="text" data-xy="x:l,l,c,c;y:m;yo:-79px,-25px,-16px,-22px;" data-text="w:normal,normal,normal,normal;s:70,60,59,38;l:73,63,62,44;fw:900;a:left,left,center,center;" data-dim="w:808px,689px,559px,301px;"
                data-rsp_o="off" data-onslides="s:1;" data-frame_0="x:50;" data-frame_1="sp:900;" data-frame_999="o:0;e:power3.in;st:w;sR:2100;" style="z-index: 9; font-family: Nunito; height: auto; color: rgb(255, 255, 255); text-decoration: none; white-space: normal; width: 402px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; text-align: left; line-height: 37px; letter-spacing: 0px; font-weight: 900; font-size: 35px; transform-origin: 50% 50%; opacity: 1; transform: translate(0px, 0px); visibility: visible;"
                data-startslide="1" data-endslide="4" data-idcheck="true" data-stylerecorder="true" data-initialised="true">Saving one pet will not change the world, but for that one pet, it <span style="color: #f04336;">will.</span>
            </rs-layer>
        </h4>
    </div>
  
</div>