.navigation {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Amatic SC", sans-serif;
    color: #424242;
    font-weight: 700;
    font-size: 30px;
    line-height: 1em;
}