/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 900 !important;
    margin: 25px 0;
    word-wrap: break-word;
    color: #4a4a4a;
}

.img-style {
    border-radius: 10px;
}

p {
    color: #8f9093;
}